In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('channels.csv')

In [3]:
data.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [8]:
# Getting overall statistics
pd.options.display.float_format='{:,.2f}'.format # To display numbers in a more readable format, with commas and two decimal places
data.describe()

            Video views
count          5,000.00
mean   1,071,449,400.15
std    2,003,843,972.12
min               75.00
25%      186,232,945.75
50%      482,054,780.00
75%    1,124,367,826.75
max   47,548,839,843.00

In [9]:
data.head(20)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd m端zik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
10,11th,A+,5-Minute Crafts,2085,33492951,8587520379
11,12th,A+,Canal KondZilla,822,39409726,19291034467
12,13th,A+,Like Nastya Vlog,150,7662886,2540099931
13,14th,A+,Ozuna,50,18824912,8727783225
14,15th,A+,Wave Music,16119,15899764,10989179147
15,16th,A+,Ch3Thailand,49239,11569723,9388600275
16,17th,A+,WORLDSTARHIPHOP,4778,15830098,11102158475
17,18th,A+,Vlad and Nikita,53,--,1428274554
18,19th,A+,Badabun,3060,23603062,5860444053
19,20th,A+,WorkpointOfficial,24287,17687229,14022189654

In [10]:
# Replacing -- with Nan
data = data.replace('--', np.nan, regex=True) # Replacing -- with Nan, included regex to avoid replacing the string '--' with Nan

In [11]:
data.head(20)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd m端zik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
10,11th,A+,5-Minute Crafts,2085,33492951,8587520379
11,12th,A+,Canal KondZilla,822,39409726,19291034467
12,13th,A+,Like Nastya Vlog,150,7662886,2540099931
13,14th,A+,Ozuna,50,18824912,8727783225
14,15th,A+,Wave Music,16119,15899764,10989179147
15,16th,A+,Ch3Thailand,49239,11569723,9388600275
16,17th,A+,WORLDSTARHIPHOP,4778,15830098,11102158475
17,18th,A+,Vlad and Nikita,53,NaN,1428274554
18,19th,A+,Badabun,3060,23603062,5860444053
19,20th,A+,WorkpointOfficial,24287,17687229,14022189654