In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('channels.csv')

In [3]:
data.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [8]:
# Getting overall statistics
pd.options.display.float_format='{:,.2f}'.format # To display numbers in a more readable format, with commas and two decimal places
data.describe()

            Video views
count          5,000.00
mean   1,071,449,400.15
std    2,003,843,972.12
min               75.00
25%      186,232,945.75
50%      482,054,780.00
75%    1,124,367,826.75
max   47,548,839,843.00